.Movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    border-radius: 15px;
    width: 250px;
    margin: 20px;
    background: #130e28;
    height: 425px;
}

.Movie img {
    height: auto;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    margin: 0px;
}

.Movie h5 {
    margin-top: 10px;
}